@page "/expedition/{id:int}/"
@using AndNet.Manager.Shared.Models.Documentation
<div class="accordion mb-3" id="playerAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#awardCollapse">
                Состав
            </button>
        </h2>
        <div id="awardCollapse" class="accordion-collapse collapse" data-bs-parent="#playerAccordion">
            <div class="accordion-body">
                @if (Expedition?.Players is not null)
                {
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Игрок</th>
                            <th scope="col">Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Player member in Members)
                        {
                            <tr>
                                <td>
                                    <a href="player/@member.Id">@member.ToString()</a>
                                </td>
                                <td>@(member.Id == Expedition.CommanderId ? "Командир" : "Участник")</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Документация
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#playerAccordion">
            <div class="accordion-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Тип</th>
                        <th scope="col">Заголовок</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Автор</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Docs is not null)
                    {
                        @foreach (Doc doc in Docs)
                        {
                            <tr>
                                <th scope="row">
                                    <a href="/document/@doc.Id">№@doc.Id</a>
                                </th>
                                <td>@DocRules.DocNames[doc.Info?.GetType() ?? typeof(DocInfo)]</td>
                                <td>@doc.Title</td>
                                <td>@doc.CreationDate.ToShortDateString()</td>
                                <th>
                                    <a href="/player/@doc.AuthorId">@_players[doc.AuthorId].FullNickname</a>
                                </th>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
                <nav class="d-flex flex-row justify-content-center">
                    <ul class="pagination">
                        <li class="page-item">
                            <button class="page-link  @(DocsPreviousPageAvailable ? "" : "disabled")" @onclick="async () => await SetDocPage(1)">
                                <i class="bi bi-chevron-double-left"></i>
                            </button>
                        </li>
                        <li class="page-item">
                            <button class="page-link @(DocsPreviousPageAvailable ? "" : "disabled")" @onclick="async () => await SetDocPage(DocsPage - 1)">
                                <i class="bi bi-chevron-left"></i>
                            </button>
                        </li>
                        @foreach (int i in Enumerable.Range(1, DocsPagesCount))
                        {
                            <li class="page-item @(DocsPage == i ? "disabled active" : "")">
                                <button class="page-link" @onclick="async () => await SetDocPage(i)">@i</button>
                            </li>
                        }
                        <li class="page-item">
                            <button class="page-link @(DocsNextPageAvailable ? "" : "disabled")" @onclick="async () => await SetDocPage(DocsPage + 1)">
                                <i class="bi bi-chevron-right"></i>
                            </button>
                        </li>
                        <li class="page-item">
                            <button class="page-link @(DocsNextPageAvailable ? "" : "disabled")" @onclick="async () => await SetDocPage(DocsPage)">
                                <i class="bi bi-chevron-double-right"></i>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<LayoutSetter>
    <Header>
        <h1>Экспедиция №@Id</h1>
    </Header>
    <Aside>
        <div class="d-flex flex-column mb-3">
            @if (Expedition is null || Members is null)
            {
                <InfoBlock Key="Загрузка…"/>
            }
            else
            {
                <InfoBlock Key="Номер" Value="@Expedition.Id.ToString()"/>
                <InfoBlock Key="Общий счёт" Value="@(Members.OfType<ClanPlayer>().Sum(x => x.Score).ToString("F2"))"/>
                <InfoBlock Key="Дата начала" Value="@Expedition.StartDate.ToShortDateString()"/>
                <InfoBlock Key="Дата конца" Value="@Expedition.EndDate.ToShortDateString()"/>
                @if (Members.Any(x => x.Id == MeId))
                {
                    <button class="btn btn-danger mb-2" disabled>Запросить исключение из экспедиции</button>
                }
                else
                {
                    <button class="btn btn-primary mb-2" disabled>Запросить присоединение к экспедиции</button>
                }
                @if (IsAdvisor)
                {
                    <div class="alert alert-light">
                        <h4>Управление</h4>
                        <div class="d-flex flex-column justify-content-between mb-2">
                            <b class="form-label">Продление</b>
                            <input type="number" min="1" class="form-control mb-1" placeholder="Количество суток…">
                            <button class="btn btn-success" disabled>Продлить</button>
                        </div>
                        <div class="d-flex flex-column justify-content-between mb-2">
                            <b class="form-label">Новый командир</b>
                            <select class="form-select mb-1">
                                @foreach (Player member in Members)
                                {
                                    <option value="@member.Id" selected="@(member.Id == Expedition.CommanderId)">@member.FullNickname</option>
                                }
                            </select>
                            <button class="btn btn-warning" disabled>Выдвинуть нового командира</button>
                        </div>
                        <div class="d-flex flex-column justify-content-between mb-2">
                            <b class="form-label">Закрытие</b>
                            <button class="btn btn-danger" disabled>Закрыть экспедицию</button>
                        </div>
                    </div>
                }
            }

        </div>
    </Aside>
</LayoutSetter>