@page "/"

<h1>Игровой клан «Андромеда»</h1>
<h2>Space Engineers</h2>

<p class="mb-3">
    Мы - игровой клан в игре Space Engineers. Нашими задачами являются создание дружной компании и совместная игра.
    Также нашими интересами в игре являются создание новый чертежей, скриптов и их использовании в выживании;
    обучение игроков механикам игры, взаимодействию в команде.
</p>

<div class="d-flex flex-row justify-content-between align-content-stretch">
    <div class="card me-2" style="width: 300px">
        <img src="/images/first.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Высший уровень</h5>
            <p class="card-text">Игра в команде — совершенно иное, чем игра в одничоку. Массовые бои, совместная разработка и обмен опытом ждут!</p>
        </div>
    </div>
    <div class="card me-2" style="width: 300px">
        <img src="/images/team.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Товарищество</h5>
            <p class="card-text">В клане регулярно проводятся тренировки и учения, а опытные игроки окажут индивидуальную поддержку. Возможность показать свой уровень игры.</p>
        </div>
    </div>
    <div class="card" style="width: 300px">
        <img src="/images/war.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Вовлеченность</h5>
            <p class="card-text">Внутри клана возможно созвать свою экспедицию на исследование новых рубежей или примкнуть к действующей, а система выборов позволяет стать лидером клана</p>
        </div>
    </div>
</div>

<p class="mb-3">
</p>
<LayoutSetter>
    <Header>

    </Header>
    <Aside>
        <div class="d-grid mb-3">
            <a class="btn btn-primary btn-lg @(IsApplicationDisabled ? "disabled" : "")" href="/application">Вступить в клан</a>

        </div>
        @if (GlobalStats is not null)
        {
            <div class="d-flex flex-column mb-3">
                <h5 class="mb-1">За последние 30 дней</h5>
                <div class="d-flex flex-row justify-content-between">
                    <h6>Максимальный онлайн</h6>
                    <b>@GlobalStats.MaxOnline.ToString("D")</b>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <h6>Одновременно в игре</h6>
                    <b>@GlobalStats.MaxInGame.ToString("D")</b>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <h6>Часов всеми сыграно</h6>
                    <b>@GlobalStats.HoursPlayed.ToString("D")</b>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <h6>Сражений</h6>
                    <b>@GlobalStats.Battles.ToString("D")</b>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <h6>Новых игроков</h6>
                    <b>@GlobalStats.NewPlayers.ToString("D")</b>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <h6>Наград заработано</h6>
                    <b>@GlobalStats.AwardsIssued.ToString("D")</b>
                </div>
            </div>
        }

    </Aside>
    <Footer>

    </Footer>
</LayoutSetter>