@page "/"

<h1>Игровой клан «Андромеда»</h1>
<h2>Space Engineers</h2>

<p class="mb-3">
    Мы - сообщенство игроков и бла-бла-бла. Краткое описание, что такое вообще игровой клан и почему игрок должен присоеденится к такому.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget neque at diam venenatis gravida ut nec nulla.
    Aliquam efficitur a dolor nec condimentum. Nullam mi arcu, congue quis faucibus eu, accumsan non leo.
</p>
<div class="row">
    <div class="col">
        <div class="card">
            <img src="/images/proton_stub.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Крутость клана №1</h5>
                <p class="card-text">Сплоченная группа товарищей. Научим, как надо или перенимем твой опыт, если ты топ</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/images/proton_stub.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Крутость кланов №2</h5>
                <p class="card-text">Совместная движуха в виде экспедиций, разработок чертежей и все такое</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/images/proton_stub.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Крутость кланов №3</h5>
                <p class="card-text">Ивенты внутри клана, где есть и ПвЕ, и ПвП. Геймплей намного разнообразнее</p>
            </div>
        </div>
    </div>
</div>


<p class="mb-3">
    Мы - сообщенство игроков и бла-бла-бла. Краткое описание, что такое вообще игровой клан и почему игрок должен присоеденится к такому.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget neque at diam venenatis gravida ut nec nulla.
    Aliquam efficitur a dolor nec condimentum. Nullam mi arcu, congue quis faucibus eu, accumsan non leo.
</p>
<LayoutSetter>
    <Header>

    </Header>
    <Aside>
        <div class="d-grid mb-3">
            <a class="btn btn-primary btn-lg @(IsApplicationDisabled ? "disabled" : "")" href="/application">Вступить в клан</a>

        </div>
        @if (GlobalStats is not null)
        {
            <div class="d-flex flex-column mb-3">
                <h5 class="mb-1">За последние 30 дней</h5>
                <div class="d-flex flex-row justify-content-between">
                    <h6>Максимальный онлайн</h6>
                    <b>@GlobalStats.MaxOnline.ToString("D")</b>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <h6>Одновременно в игре</h6>
                    <b>@GlobalStats.MaxInGame.ToString("D")</b>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <h6>Часов всеми сыграно</h6>
                    <b>@GlobalStats.HoursPlayed.ToString("D")</b>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <h6>Сражений</h6>
                    <b>@GlobalStats.Battles.ToString("D")</b>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <h6>Новых игроков</h6>
                    <b>@GlobalStats.NewPlayers.ToString("D")</b>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <h6>Наград заработано</h6>
                    <b>@GlobalStats.AwardsIssued.ToString("D")</b>
                </div>
            </div>
        }

    </Aside>
    <Footer>

    </Footer>
</LayoutSetter>